body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
  background-color: #5d6a6d;
}

aside.sidebar div button {
  width: 48px;
  height: 48px;

  position: relative;
  left: 2%;
  top: 0.5rem;
  margin-bottom: 1rem;

  border: none;
  background: black;
  border-radius: 1.6rem;
  cursor: pointer;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

aside.sidebar div button:hover {
  background: rgba(0, 0, 0, 0.74);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  border: none;
  margin-bottom: 2rem;
}

.box {
  width: 600px;
  height: 76%;

  font-size: 16px;
  padding: 40px 40px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.box h1 {
  font-weight: 900;
  color: black;
  font-weight: bolder;
}

.box .user {
  margin-top: 50px;
}

.box .user input {
  width: 90%;
  margin-bottom: 25px;
  padding: 0px 0px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background: transparent;
  color: black;
  transition: 0.3s all;
}

.box .user input:focus {
  border-bottom: 1px solid rgba(79, 202, 202, 0.452);
}

form button {
  width: 90%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 1s;
  margin-top: 1rem;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.74);
}

/* A caixa de mensagem é mostrada quando o usuário clica no campo de senha  */
#Valid-password {
  /* display:none; */
  width: 90%;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#Valid-password p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Adicione uma cor de texto verde e uma marca de seleção quando os requisitos estiverem corretos */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Adicione uma cor de texto vermelha e um "x" quando os requisitos estiverem incorretos */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.alert-error-error,
.alert-warning-warning,
.alert-info-info {
  color: #d11507;
  width: 100%;
  border-radius: 5px;
  position: relative;
  bottom: 1.5rem;
}

@media only screen and (min-device-width: 260px) and (max-device-width: 640px) {
  .box {
    width: 350px;
    height: 75%;
  }

  #Valid-password h3 {
    font-size: 15px;
  }

  #Valid-password p {
    padding: 10px 35px;
    font-size: 12px;
  }
}
